<div class="command-overlay" [class.open]="commandToggle.isOpen()" aria-hidden="true">
  <div class="command-panel" role="dialog" aria-modal="true">
    <div class="command-input-row">
      <span class="command-prompt">&gt;</span>
      <!--always render but control visibility with CSS-->
      <input 
        #commandInput 
        class="command-input"
        placeholder="Type a command…"
        (input)="onInput($any($event.target).value)" 
        (keydown.enter)="onEnter()"
        [attr.tabindex]="commandToggle.isOpen() ? '0' : '-1'"
      />
    </div>

    <div class="command-output">
      <textarea 
        class="command-logs"
        readonly
        placeholder="Output (if any) will appear here.."
        [value]="logs"
        rows="10"
      ></textarea>
    </div>

    <!-- <ul class="command-results">
    
      <li class="command-result active">open projects</li>
      <li class="command-result">go home</li>
      <li class="command-result">view github</li>
     
    </ul> -->
  </div>
</div>